target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
ds-discover-web/conf/ds-discover-environment.yaml
ds-discover-web/conf/ds-discover-local.yaml
setup_project.sh
/deploy2Devel11.sh

/ds-discover-api/.openapi-generator-ignore
